.course-detail-wrapper {
    .course-detail-block {
        .colapse-title {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .left-title {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                .course-name {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    background-color: $main-color;
                    margin-right: 3px;
                    .rating-score {
                        display: flex;
                        .total-scrore-rate {
                            margin: auto;
                            color: white;
                            padding: 5px 10px;
                        }
                    }
                    h5 {
                        font-size: 1, 3rem;
                        font-family: HKNova-Regular;
                        color: white;
                        margin: auto;
                        padding: 5px 50px;
                        border-right: 1px solid;
                    }
                }
            }
            .right-title {
                position: relative;
                width: 40px;
                height: 40px;
                background-color: $main-color;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                &::after {
                    position: absolute;
                    top: 50%;
                    right: 5px;
                    width: 20px;
                    height: 16px;
                    margin-top: -8px;
                    font: 16px fontawesome;
                    color: #bcbec0;
                    content: "\f0d7";
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }
            &.colapse-head {
                background: $main-color;
                color: white;
                td {
                    &:after {
                        transform: rotate(-180deg);
                        color: #000;
                    }
                }
            }
        }
    }
}