$yellow:#f5ba1a;
$black:#000000;
$grey:#cccccc;

.v-tab-ctn {
	zoom: 1;
	position: relative;
	height: auto;
}

.v-tab-ctn:after,
.v-tab-ctn:before {
	content: "";
	display: table;
}

.v-tab-ctn:after {
	clear: both;
}

.v-tab-ctn h4 {
	background: rgba(0,0,0,0.1);
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	border-top: none;
	padding: 15px 20px;
}

.v-tab-ctn h4:first-child {
	border-top: 1px solid rgba(0,0,0,0.2);
}

@media screen and (min-width: 600px) {
	.v-tab-ctn h4 {
		position: relative;
		width: 33.333333333333336%;
		height: 20%;
		display: block;
	}
}

.v-tab-ctn .tab-ctn {
	zoom: 1;
	position: relative;
	height: auto;
	min-height: 100%;
	// border: 1px solid rgba(0,0,0,0.2);
	border-left: none;
	display: none;
}

.v-tab-ctn .tab-ctn:after,
.v-tab-ctn .tab-ctn:before {
	content: "";
	display: table;
}

.v-tab-ctn .tab-ctn:after {
	clear: both;
}

.v-tab-ctn .tab-ctn li {
	list-style: circle;
}

@media screen and (min-width: 600px) {
	.v-tab-ctn .tab-ctn {
		position: absolute;
		width: 66.66666666666667%;
		right: 0;
		top: 0;
		padding: 15px 30px;
	}
}

.v-tab-ctn .active {
	cursor: default;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-left: 2px solid $main-color;
}

@media screen and (min-width: 600px) {
	.v-tab-ctn .active {
		background: rgba(0,0,0,0);
		border-right: 1px solid rgba(0,0,0,0);
	}
}

.v-tab-ctn .active + .tab-ctn {
	display: block;
}
.course-info{
    background-color: #F6F6F6;
    .tab-nav-ctn{
        background-color: white;
    }
    .main-content{
        background-color: white;
    }
}
.profile-detail-block{
    margin: 5% 0;
    .tab-nav-ctn{
        background-color: white;
        padding: 10%;
        .user-block{
            display: flex;
            // justify-content: space-between;
            .img-ctn{
                width: 30%;
                img{
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            .user-information{
                .name{
                    font-family: HKNova-Bold;
                    font-size: 20px;
                    font-weight: bold;
                    color: #000000;
                }
                .role{
                    font-size: 13px;
                    font-family: HKNova-Regular;
                }
                .coin-ctn{
                    a{
                        color: $main-color;
                        font-weight: bold;
                        font-family: HKNova-Bold;
                        position: relative;
                        margin-left: 25px;
                        &:before{
                            content:'';
                            position: absolute;
                            background: url(../images/home/gold.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            left: -25px;
                        }
                    }
                    
                }
            }
        }
        .left-navigate{
            .nav-item{
                border-bottom:1px dotted $main-color ;
                a.nav-link{
                    font-size: 1rem;
                    color: #000;
                    border-radius: 0; 
                    font-family: HKNova-Regular;
                }
                a.active{
                    color: $main-color;
                    font-family: HKNova-Bold;
                    height: 2.8rem;
                    border-left: .2rem solid $main-color;
                    background-color: white;
                    transform: translateY(-1px);
                    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    -webkit-transform: translateY(-1px);
                    -moz-transform: translateY(-1px);
                    -ms-transform: translateY(-1px);
                    -o-transform: translateY(-1px);
}
                
            }
        }
    }
    .main-content{
        background-color: white;
        padding: 5%;
    }
    .form_wrapper {
        max-width: 100%;
        box-sizing: border-box;
        margin: 0 auto 0;
        position: relative;
        z-index: 1;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition: none;
        transition: none;
        -webkit-animation: expand 0.8s 0.6s ease-out forwards;
        animation: expand 0.8s 0.6s ease-out forwards;
        opacity: 0;
        h2 {
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0;
        }
        .title_container {
            text-align: center;
            padding-bottom: 15px;
        }
        h3 {
            font-size: 1.1em;
            font-weight: normal;
            line-height: 1.5em;
            margin: 0;
        }
        label {
            font-size: 12px;
        }
        .row {
            >div {
                padding: 0 15px;
                box-sizing: border-box;
            }
        }
        .col_half {
            width: 50%;
            float: left;
        }
        .input_field {
            position: relative;
            margin-bottom: 20px;
            -webkit-animation: bounce 0.6s ease-out;
            animation: bounce 0.6s ease-out;
            >span {
                position: absolute;
                left: 0;
                top: 0;
                color: #333;
                height: 100%;
                text-align: center;
                width: 30px;
                >i {
                    padding-top: 10px;
                    padding-left:10px;
                }
            }
        }
        .textarea_field {
            >span {
                >i {
                    padding-top: 10px;
                }
            }
        }
        input {
        &[type="text"], &[type="email"], &[type="password"], &[type="phone"] {
            width: 100%;
            padding: 8px 10px 9px 35px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid $grey;
            box-sizing: border-box;
            outline: none;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
        &[type="text"]:hover, &[type="email"]:hover, &[type="password"]:hover {
            background: #fafafa;
        }
        &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus {
            -webkit-box-shadow: 0 0 2px 1px rgba(31, 110, 7, 0.5);
            -moz-box-shadow: 0 0 2px 1px rgba(31, 110, 7, 0.5);
            box-shadow: 0 0 2px 1px rgba(31, 110, 7, 0.5);
            border: 1px solid $main-color;
            background: #fafafa;
        }
        &[type="submit"] {
            background: $main-color;
            height: 35px;
            line-height: 35px;
            
            width: 100%;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 1.1em;
            margin-bottom: 10px;
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            transition: all 0.30s ease-in-out;
            &:hover {
                background: darken($main-color,7%);
            }
            &:focus {
                background: darken($main-color,7%);
            }
        }    
        &[type="checkbox"], &[type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        }
        }
        .upload-ctn{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
        }
    }
    
    .checkbox_option{
        label{
            margin-right: 1em;
            position: relative;
            &:before {
            content: "";
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.5em;
            vertical-align: -2px;
            border: 2px solid $grey;
            padding: 0.12em;
            background-color: transparent;
            background-clip: content-box;
            transition: all 0.2s ease;
            }
            &:after {
            border-right: 2px solid $black;
            border-top: 2px solid $black;
            content: "";
            height: 20px;
            left: 2px;
            position: absolute;
            top: 7px;
            transform: scaleX(-1) rotate(135deg);
            transform-origin: left top;
            width: 7px;
            display: none;
            }
        }
        input {
        &:hover + label:before {
        border-color: $black;
        }
        &:checked + label {
        &:before {
            border-color: $black;
        }
        &:after {
            -moz-animation: check 0.8s ease 0s running;
            -webkit-animation: check 0.8s ease 0s running;
            animation: check 0.8s ease 0s running;
            display: block;
            width: 7px;
            height: 20px;
            border-color: $black;
        }
        }
    }
    }
    .radio_option {
    label {
        margin-right: 1em;
        &:before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        border-radius: 100%;
        vertical-align: -3px;
        border: 2px solid $grey;
        padding: 0.15em;
        background-color: transparent;
        background-clip: content-box;
        transition: all 0.2s ease;
        }
    }
    input {
        &:hover + label:before {
        border-color: $black;
        }
        &:checked + label:before {
        background-color: $black;
        border-color: $black;
        }
    }
    }
    .select_option {
    position: relative;
    width: 100%;
    select {
        display: inline-block;
        width: 100%;
        height: 35px;
        padding: 0px 15px;
        cursor: pointer;
        color: #7b7b7b;
        border: 1px solid $grey;
        border-radius: 0;
        background: #fff;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        transition: all 0.2s ease;
        &::-ms-expand {
        display: none;
        }
        &:hover, &:focus {
        color: $black;
        background: #fafafa;
        border-color: $black;
        outline: none;
        }
    }
    }
    .select_arrow {
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: #7b7b7b transparent transparent transparent;
    }

    .select_option select {
    &:hover + .select_arrow, &:focus + .select_arrow {
        border-top-color: $black;
    }
    }
    .credit {
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 15px;
        color: $yellow;
        a {
            color: darken($yellow,7%);
        }
    }
    @-webkit-keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
    }

    @keyframes check {
    0% { height: 0; width: 0; }
    25% { height: 0; width: 7px; }
    50% { height: 20px; width: 7px; }
    }

    @-webkit-keyframes expand { 
        0% { -webkit-transform: scale3d(1,0,1); opacity:0; }
        25% { -webkit-transform: scale3d(1,1.2,1); }
        50% { -webkit-transform: scale3d(1,0.85,1); }
        75% { -webkit-transform: scale3d(1,1.05,1); }
        100% { -webkit-transform: scale3d(1,1,1);  opacity:1; }
    }

    @keyframes expand { 
        0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1);  opacity:0; }
        25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
        50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
        75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
        100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1);  opacity:1; }
    }


    @-webkit-keyframes bounce { 
        0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
        25% { -webkit-transform: translate3d(0,10px,0); }
        50% { -webkit-transform: translate3d(0,-6px,0); }
        75% { -webkit-transform: translate3d(0,2px,0); }
        100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
    }

    @keyframes bounce { 
        0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
        25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
        50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
        75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
        100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
    }
    @media (max-width: 600px) {
        .form_wrapper {
            .col_half {
                width: 100%;
                float: none;
            }
        }
        .bottom_row {
            .col_half {
                width: 50%;
                float: left;
            }
        }
        .form_container {
            .row {
                .col_half.last {
                    border-left: none;
                }
            }
            
        }
        .remember_me {
            padding-bottom: 20px;
        }
    }
    
@mixin transition($settings) {
	-webkit-transition: $settings;
	-moz-transition: $settings;
	-ms-transition: $settings;
	-o-transition: $settings;
	transition: $settings;
}
@mixin delay($time){
	-webkit-transition-delay: $time;
   transition-delay: $time;
}

$red: #CC0000;

hr {
	border-color: #DBD5C2;
  border-style: dotted;
	margin: 40px 0;
}
blockquote {
	border-color: #E2DDD2;
	text-align: left;
	font-size: 15px;
}

    .avatar-wrapper{
        position: relative;
        height: 200px;
        width: 200px;
        margin: 50px auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 15px -5px black;
        transition: all .3s ease;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
        &:hover .profile-pic{
            opacity: .5;
        }
        .profile-pic {
        height: 100%;
            width: 100%;
            transition: all .3s ease;
            &:after{
                font-family: FontAwesome;
                content: "\f007";
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                font-size: 190px;
                background: #ecf0f1;
                color: #34495e;
                text-align: center;
            }
        }
        .upload-button {
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            width: 100%;
            .fa-arrow-circle-up{
                position: absolute;
                font-size: 234px;
                top: -17px;
                left: 0;
                text-align: center;
                opacity: 0;
                transition: all .3s ease;
                color: #34495e;
            }
            &:hover .fa-arrow-circle-up{
                opacity: .9;
            }
        }
    }


    // ===============khoa học đã mua ===================
    .my-course-ctn{
        .join-course-ctn{
            .join-item{
                display: flex;
                justify-content: space-between;
                margin: 25px 0;
                background-color: #f5f4f4;
                padding: 15px 0;
                -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                .left-ctn{
                    img{
                        width: 100%;
                    }
                }
                .right-ctn{
                    .title-ctn{
                        h5{
                            font-family: HKNova-Bold;
                            text-transform: uppercase;
                            font-size: 1rem;
                        }
                    }
                    .period{
                        a{
                            color: #000;
                            font-size: 1.2rem;
                            &:hover{
                                color: $main-color;
                            }
                        }
                    }
                    .tutor{
                        a{
                            color: #000;
                            font-size: .8rem;
                            &:hover{
                                color: $main-color;
                            }
                        }
                        margin-bottom: 10px;
                    }
                    .progress-bar-ctn{
                        margin-bottom: 15px;
                        height: 10px;
                        border-radius: 30px;
                        .progress{
                            border-radius: 1.25rem;
                            .progress-bar{
                                position:relative;
                                float:left;
                                min-width:1%;
                                height:100%;
                                background:$main-color;
                            }
                        }
                        .percent {
                            position:absolute;
                          top:50%;
                          left:50%;
                          transform:translate(-50%,-50%);
                          margin:0;
                          font-family:tahoma,arial,helvetica;
                          font-size:12px;
                          color:white;
                        }
                    }
                }
            }
        }
        .bought-course-ctn{
            .bought-wrapper {
                display: flex;
                .bought-item{
                    background-color: #f5f4f4;
                    padding: 15px;
                    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.45);
                    margin: 15px;
                    .title-ctn{
                        h5{
                            font-family: HKNova-Bold;
                            text-transform: uppercase;
                            font-size: 1rem;
                        }
                    }
                    .period{
                        a{
                            color: #000;
                            font-size: 1.2rem;
                            &:hover{
                                color: $main-color;
                            }
                        }
                    }
                    .tutor{
                        a{
                            color: #000;
                            font-size: .8rem;
                            &:hover{
                                color: $main-color;
                            }
                        }
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}