$main-color: #0d723b;
$lineheight:20px;
$height: $lineheight * 3;
$ellipsiswidth: 3em !default;
.disable-scroll{
    overflow: hidden;
}
.fix-position{
    position: fixed;
    top: 10px;
    z-index: 999;
}


// Navbar
//=============================swipper arrow==================================
.swiper-button-prev {
    transform: translate(-46%, 10px);
    top: -15%;
    bottom: 0;
    margin: auto;
    background-image: url('../images/home/arrow-left-active.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.swiper-button-next {
    background-image: url('../images/home/arrow-right-active.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(48%, 10px);
    top: -15%;
    bottom: 0;
    margin: auto;
}
// ============================ellipsis=======================================
.ellipsis {
    overflow: hidden;
    text-align: center;
    height: $height;
    line-height: $lineheight;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: $height;
}
.ellipsis>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content: "";
    float: right;
    position: initial;
    top: -$lineheight;
    left: 100%;
    width: $ellipsiswidth;
    margin-left: -$ellipsiswidth;
    padding-right: 5px;
    text-align: right;
    background: white;
    color: #f36f21;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
}

footer {
    background-color: $main-color;
    padding: 0;
    .logo_ft {
        display: block;
        margin-bottom: 50px;
        @media(max-width: 991px) {
            margin-top: 0;
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            @media(max-width: 991px) {
                width: 140px;
            }
        }
    }
    .footer-ctn {
        .foot-title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 15px;
            font-family: UTM_Helve;
            text-transform: uppercase;
            @media(max-width: 991px) {
                font-size: 18px;
            }
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        .footer-nav {
            font-family: UTM_Helve;
            padding: 0;
            margin: 0;
            @media(max-width: 991px) {
                margin-bottom: 30px;
            }
            li {
                list-style: none;
                position: relative;
                color: #fff;
                font-size: 14px;
                margin-bottom: 5px;
                line-height: 30px;
                @media(max-width: 320px) {
                    font-size: 14px;
                }
                @media(max-width: 991px) {
                    font-size: 16px;
                }
                .img {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 25px;
                    text-align: center;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
//  custom pagination swiper 
.swiper-pagination{
    .swiper-pagination-bullet{
        opacity: 1;
        background-color: white;
        opacity: 0.51;
    }
    .swiper-pagination-bullet-active{
        background-color:$main-color;
    }
}
    
// ===========================modal==============================
.modal {
    height: 370px;
    background-color: #0d723b;
    color: #fff;
    // overflow-y: auto;
    a {
        color: #f36f21;
        float: right;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
        &::after {
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../images/default/line.png');
        }
    }
    a.close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 23px;
        height: 23px;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/default/close.png');
    }
    #note{
        overflow: auto;
        height: 280px;
        margin: 20px 10px;
        text-align: justify;
    }
    #note::-webkit-scrollbar-track
    {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #c2c3c7;
    }

    #note::-webkit-scrollbar
    {
    width: 5px;
    background-color: #c2c3c7;
    }

    #note::-webkit-scrollbar-thumb
    {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $main-color;
    }
}


// ================================network==============================
#net-address {
    // display: none;
    position: relative;
    // transform: translate(18%, 36%);
    // bottom: 120px;
    z-index: 3;
    width: 100%;
}

.network-ctn {
    // position: absolute;
    background-color: #fff;
    border: 1px solid #f36f21;
    h5 {
        color: $main-color;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
    }
    .address-detail {
        h5 {
            cursor: pointer;
            span {
                img {
                    width: 15px;
                    margin-right: 10px;
                }
            }
            &:after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
        h5.collapsed {
            cursor: pointer;
            &::after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
    }
    .net-item {
        .address-ctn {
            width: 36%;
            margin-bottom: 2%;
            background-color: #e6e7e8;
            padding: 8px 20px;
            border: 1px solid #ccc4;
            border-radius: 20px;
            outline: none;
            select {
                width: 100%;
                border: none;
                border-right: solid 1px;
                outline: none;
                color: #6b6c6e;
                background-color: #e6e7e8;
            }
        }
        hr.line {
            border: 1px solid $main-color;
        }
        .address-list {
            // height: 100px;
            overflow: auto;
            // width: 100%;
            ul {
                list-style: none;
                li.address-item {
                    display: grid;
                    grid-template-columns: 4% 32% 32% 32% ;
                    justify-content: space-between;
                    flex-direction: row;
                    margin-bottom: 5px;
                    border-bottom: 1px dashed #ccc;
                    .no span {
                        color: $main-color;
                        padding-right: 20px;
                    }
                    .order{
                        color: $main-color;
                    }
                    .location{
                        span{
                            margin-right: 5px;
                        }
                    }
                    .phone-contact{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            ul.car-address{
                overflow: auto;
                height: 100px;
            }
            .car-address::-webkit-scrollbar-track
            {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #c2c3c7;
            }
        
            .car-address::-webkit-scrollbar
            {
            width: 5px;
            background-color: #c2c3c7;
            }
        
            .car-address::-webkit-scrollbar-thumb
            {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $main-color;
            }
        }
    }
}

// ===============================sticky float left ==================================
.contact-floating {
    position: fixed;
    left: 7%;
    top: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
}
// ===============================scrollup=====================================
.scrollup {
    position: fixed;
    right: 20px;
    bottom: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
}