.disable-scroll {
  overflow: hidden; }

.fix-position {
  position: fixed;
  top: 10px;
  z-index: 999; }

.block-main-menu {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1024;
  margin-bottom: 2px;
  background-color: white; }
  @media (max-width: 991px) {
    .block-main-menu {
      display: flex;
      justify-content: space-between; }
      .block-main-menu .logo-desktop {
        display: none; } }
  .block-main-menu .logo-mobile-nav {
    position: relative;
    max-width: 70px;
    z-index: 2; }
  @media (min-width: 992px) {
    .block-main-menu .navbar {
      height: 65px; }
    .block-main-menu .logo-desktop {
      transform: translate(15%, 22%);
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      position: relative;
      width: 100px;
      z-index: 2; } }
  .block-main-menu .main-menu {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #0d723b; }
    .block-main-menu .main-menu .left-nav {
      margin-right: 10%; }
    .block-main-menu .main-menu .right-nav {
      margin-left: 10%; }
    .block-main-menu .main-menu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      margin-top: -8px; }
      .block-main-menu .main-menu ul li {
        margin-left: 35px;
        position: relative; }
        .block-main-menu .main-menu ul li a {
          display: block;
          white-space: nowrap;
          font-family: UTM_HelveBold;
          text-decoration: none;
          font-size: 18px;
          color: #000;
          transition: all 0.23s;
          text-transform: uppercase; }
        .block-main-menu .main-menu ul li:hover a {
          font-family: UTM_HelveBold;
          color: #0d723b; }
        .block-main-menu .main-menu ul li ul.menu-hover {
          visibility: hidden;
          display: inline-block;
          z-index: 12;
          text-align: left;
          width: auto;
          position: absolute;
          top: 84px;
          left: -143px;
          background: rgba(0, 0, 0, 0.5);
          padding: 0; }
          @media (max-width: 991px) {
            .block-main-menu .main-menu ul li ul.menu-hover {
              left: 0;
              top: 45px; } }
          .block-main-menu .main-menu ul li ul.menu-hover li {
            padding: 10px 0;
            margin: 0;
            padding: 10px 35px; }
            @media (max-width: 991px) {
              .block-main-menu .main-menu ul li ul.menu-hover li {
                padding: 10px 5px; } }
            .block-main-menu .main-menu ul li ul.menu-hover li a {
              color: #fff !important;
              text-transform: none; }
            .block-main-menu .main-menu ul li ul.menu-hover li:hover {
              background-color: rgba(255, 255, 255, 0.7); }
              .block-main-menu .main-menu ul li ul.menu-hover li:hover a {
                color: #0d723b !important; }
        .block-main-menu .main-menu ul li:hover > ul.menu-hover {
          visibility: visible; }
      .block-main-menu .main-menu ul .active a {
        font-family: UTM_HelveBold;
        color: #0d723b !important; }

.open-sidemenu {
  cursor: pointer;
  float: right;
  display: none;
  top: 0;
  margin: auto 20px; }
  .open-sidemenu .icon-bar {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 5px 0; }

.block-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: all 0.2s; }

.over {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1025;
  transition: all 0.2s; }

@media (max-width: 991px) {
  .open-sidemenu {
    display: block; }

  .no-scroll {
    overflow: hidden; }

  #sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    display: block;
    overflow-y: auto;
    background: white;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1030;
    transform: translateX(-100%);
    transition: all 0.25s; }
    #sidenav #logo-mobile {
      margin-left: 10px; }
    #sidenav .logo {
      position: static;
      transform: translate(0); } }
    @media (max-width: 991px) and (max-height: 480px) {
      #sidenav .logo {
        display: none; } }
@media (max-width: 991px) {
    #sidenav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      width: 100%; }
      #sidenav ul li {
        position: relative;
        margin-left: 0; }
        #sidenav ul li a {
          display: block;
          white-space: initial;
          padding: 7px 10px;
          text-decoration: none;
          color: #000;
          transition: all 0.25s;
          color: #000;
          text-align: left; }
          #sidenav ul li a:hover {
            transition: all 0.25s; }
        #sidenav ul li span {
          display: none; }
        #sidenav ul li svg {
          position: absolute;
          top: 0;
          right: 10px;
          width: 10px;
          height: 33px;
          cursor: pointer;
          z-index: 1040;
          transition: all 0.25s; }
          #sidenav ul li svg path {
            fill: #000; }
        #sidenav ul li .rotate {
          transform: rotate(180deg);
          transition: all 0.25s; }
        #sidenav ul li .sub-menu {
          width: 100%;
          font-size: 14px;
          padding-left: 10px;
          display: none;
          overflow: hidden;
          transition: max-height 0.2s ease-out; }
          #sidenav ul li .sub-menu li a {
            box-shadow: none;
            font-size: 13px; }
          #sidenav ul li .sub-menu ul {
            display: none;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            padding-left: 10px; }
            #sidenav ul li .sub-menu ul li a {
              font-size: 12px; }
        #sidenav ul li:first-child a {
          box-shadow: none; }
        #sidenav ul li:hover span {
          display: none !important; }

  .menu-mobile {
    transform: translateX(0) !important;
    transition: all 0.25s; }
    .menu-mobile i.fa.fa-angle-down.accodition {
      position: absolute;
      right: 0;
      width: 30px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      top: 0; } }
footer {
  background-color: #0d723b;
  padding: 0; }
  footer .logo_ft {
    display: block;
    margin-bottom: 50px; }
    @media (max-width: 991px) {
      footer .logo_ft {
        margin-top: 0;
        margin-bottom: 30px; } }
    footer .logo_ft img {
      max-width: 100%; }
      @media (max-width: 991px) {
        footer .logo_ft img {
          width: 140px; } }
  footer .footer-ctn .foot-title {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
    font-family: UTM_Helve;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      footer .footer-ctn .foot-title {
        font-size: 18px; } }
    @media (max-width: 480px) {
      footer .footer-ctn .foot-title {
        font-size: 14px; } }
  footer .footer-ctn .footer-nav {
    font-family: UTM_Helve;
    padding: 0;
    margin: 0; }
    @media (max-width: 991px) {
      footer .footer-ctn .footer-nav {
        margin-bottom: 30px; } }
    footer .footer-ctn .footer-nav li {
      list-style: none;
      position: relative;
      color: #fff;
      font-size: 14px;
      margin-bottom: 5px;
      line-height: 30px; }
      @media (max-width: 320px) {
        footer .footer-ctn .footer-nav li {
          font-size: 14px; } }
      @media (max-width: 991px) {
        footer .footer-ctn .footer-nav li {
          font-size: 16px; } }
      footer .footer-ctn .footer-nav li .img {
        position: absolute;
        top: 4px;
        left: 0;
        width: 25px;
        text-align: center; }
      footer .footer-ctn .footer-nav li a {
        color: #fff;
        text-decoration: none; }

.modal {
  height: 370px;
  background-color: #0d723b;
  color: #fff; }
  .modal a {
    color: #f36f21;
    float: right;
    font-family: UTM_HelveBold;
    text-transform: uppercase; }
    .modal a::after {
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../images/default/line.png"); }
  .modal a.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 23px;
    height: 23px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/default/close.png"); }
  .modal #note {
    overflow: auto;
    height: 280px;
    margin: 20px 10px;
    text-align: justify; }
  .modal #note::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #c2c3c7; }
  .modal #note::-webkit-scrollbar {
    width: 5px;
    background-color: #c2c3c7; }
  .modal #note::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #0d723b; }

#net-address {
  position: relative;
  z-index: 3;
  width: 100%; }

.network-ctn {
  background-color: #fff;
  border: 1px solid #f36f21; }
  .network-ctn h5 {
    color: #0d723b;
    font-family: UTM_HelveBold;
    text-transform: uppercase; }
  .network-ctn .address-detail h5 {
    cursor: pointer; }
    .network-ctn .address-detail h5 span img {
      width: 15px;
      margin-right: 10px; }
    .network-ctn .address-detail h5:after {
      font-family: Fontawesome;
      content: '\f0d7';
      float: right; }
  .network-ctn .address-detail h5.collapsed {
    cursor: pointer; }
    .network-ctn .address-detail h5.collapsed::after {
      font-family: Fontawesome;
      content: '\f0d7';
      float: right; }
  .network-ctn .net-item .address-ctn {
    width: 36%;
    margin-bottom: 2%;
    background-color: #e6e7e8;
    padding: 8px 20px;
    border: 1px solid #ccc4;
    border-radius: 20px;
    outline: none; }
    .network-ctn .net-item .address-ctn select {
      width: 100%;
      border: none;
      border-right: solid 1px;
      outline: none;
      color: #6b6c6e;
      background-color: #e6e7e8; }
  .network-ctn .net-item hr.line {
    border: 1px solid #0d723b; }
  .network-ctn .net-item .address-list {
    overflow: auto; }
    .network-ctn .net-item .address-list ul {
      list-style: none; }
      .network-ctn .net-item .address-list ul li.address-item {
        display: grid;
        grid-template-columns: 4% 32% 32% 32%;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 5px;
        border-bottom: 1px dashed #ccc; }
        .network-ctn .net-item .address-list ul li.address-item .no span {
          color: #0d723b;
          padding-right: 20px; }
        .network-ctn .net-item .address-list ul li.address-item .order {
          color: #0d723b; }
        .network-ctn .net-item .address-list ul li.address-item .location span {
          margin-right: 5px; }
        .network-ctn .net-item .address-list ul li.address-item .phone-contact {
          display: flex;
          justify-content: flex-end; }
    .network-ctn .net-item .address-list ul.car-address {
      overflow: auto;
      height: 100px; }
    .network-ctn .net-item .address-list .car-address::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #c2c3c7; }
    .network-ctn .net-item .address-list .car-address::-webkit-scrollbar {
      width: 5px;
      background-color: #c2c3c7; }
    .network-ctn .net-item .address-list .car-address::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #0d723b; }

.contact-floating {
  position: fixed;
  left: 7%;
  top: 125px;
  display: none;
  z-index: 1024;
  cursor: pointer; }

.scrollup {
  position: fixed;
  right: 20px;
  bottom: 125px;
  display: none;
  z-index: 1024;
  cursor: pointer; }

.ellipsis {
  overflow: hidden;
  text-align: left;
  height: 60px;
  line-height: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-bottom: 0; }

.ellipsis:before {
  content: "";
  float: left;
  width: 5px;
  height: 60px; }

.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px; }

.ellipsis:after {
  content: "";
  float: right;
  position: initial;
  top: -20px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background: white;
  color: #f36f21;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); }

.thumb-t {
  color: #0d723b; }

/*# sourceMappingURL=default.css.map */
