$main-color: #0d723b;
$lineheight:20px;
$height: $lineheight * 3;
$ellipsiswidth: 3em !default;
.disable-scroll{
    overflow: hidden;
}
.fix-position{
    position: fixed;
    top: 10px;
    z-index: 999;
}
.block-main-menu {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    margin-bottom: 2px;
    background-color:white;
    @media (max-width: 991px) {
        display: flex;
        justify-content: space-between;
        .logo-desktop {
            display: none;
        }
    }
    //background-image: linear-gradient( rgba(0, 0, 0, 0.5), transparent);

    .logo-mobile-nav {
        position: relative;
        max-width: 70px;
        z-index: 2;
    }
    @media (min-width: 992px) {
        .navbar {
            height: 65px;
        }
        .logo-desktop {
            transform: translate(15%, 22%);
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: relative;
            width: 100px;
            z-index: 2;
        }
    }
    .main-menu {
        display: flex;
        align-items: center;
        border-bottom: 3px solid $main-color;
        .left-nav {
            margin-right: 10%;
        }
        .right-nav {
            margin-left: 10%;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            margin-top: -8px;
            li {
                margin-left: 35px;
                position: relative;
                a {
                    display: block;
                    white-space: nowrap;
                    font-family: UTM_HelveBold;
                    text-decoration: none;
                    font-size: 18px;
                    color: #000;
                    transition: all 0.23s;
                    text-transform: uppercase;
                }
                &:hover {
                    a {
                        font-family: UTM_HelveBold;
                        color: $main-color;
                    }
                }
                ul.menu-hover {
                    visibility: hidden;
                    display: inline-block;
                    z-index: 12;
                    text-align: left;
                    width: auto;
                    position: absolute;
                    top: 84px;
                    left: -143px;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0;
                    @media (max-width: 991px) {
                        left: 0;
                        top: 45px;
                    }
                    li {
                        padding: 10px 0;
                        margin: 0;
                        padding: 10px 35px;
                        @media (max-width: 991px) {
                            padding: 10px 5px;
                        }
                        a {
                            color: #fff !important;
                            text-transform: none;
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.7);
                            a {
                                color: $main-color !important;
                            }
                        }
                    }
                }
                &:hover>ul.menu-hover {
                    visibility: visible;
                }
            }
            .active {
                a {
                    font-family: UTM_HelveBold;
                    color: $main-color !important;
                }
            }
        }
    }
}

// CSS overlay
.open-sidemenu {
    cursor: pointer;
    float: right;
    display: none;
    top: 0;
    margin: auto 20px;
    .icon-bar {
        width: 35px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
    }
}

.block-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 0.2s;
}

.over {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1025;
    transition: all 0.2s;
}

@media (max-width: 991px) {
    .open-sidemenu {
        display: block;
    }
    .no-scroll{
        overflow: hidden;
    }
    #sidenav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 240px;
        display: block;
        overflow-y: auto;
        background: white;
        background-position: center 10px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1030;
        transform: translateX(-100%);
        transition: all 0.25s;
        #logo-mobile {
            margin-left: 10px;
            img {
                // max-height: 40px;
            }
        }
        .logo {
            position: static;
            transform: translate(0);
            @media (max-height: 480px) {
                display: none;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
            width: 100%;
            li {
                position: relative;
                margin-left: 0;
                a {
                    display: block;
                    white-space: initial;
                    padding: 7px 10px;
                    text-decoration: none;
                    color: #000;
                    //font-family: Helvetica_Light;
                    transition: all 0.25s;
                    color: #000;
                    text-align: left;
                    &:hover {
                        //color: red;
                        transition: all 0.25s;
                    }
                }
                span {
                    display: none;
                }
                svg {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 10px;
                    height: 33px;
                    cursor: pointer;
                    z-index: 1040;
                    transition: all 0.25s;
                    path {
                        fill: #000;
                    }
                }
                .rotate {
                    transform: rotate(180deg);
                    transition: all 0.25s;
                }
                .sub-menu {
                    width: 100%;
                    font-size: 14px;
                    padding-left: 10px;
                    display: none;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    li {
                        a {
                            box-shadow: none;
                            font-size: 13px;
                        }
                    }
                    ul {
                        display: none;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        padding-left: 10px;
                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
                &:first-child {
                    a {
                        box-shadow: none;
                    }
                }
                &:hover {
                    span {
                        display: none !important;
                    }
                }
            }
            .active {
                a {
                    //font-family: Helvetica_Bold;
                }
            }
        }
    }
    .menu-mobile {
        transform: translateX(0) !important;
        transition: all 0.25s;
        i.fa.fa-angle-down.accodition {
            position: absolute;
            right: 0;
            width: 30px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            top: 0;
        }
    }
}

footer {
    background-color: $main-color;
    padding: 0;
    .logo_ft {
        display: block;
        margin-bottom: 50px;
        @media(max-width: 991px) {
            margin-top: 0;
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            @media(max-width: 991px) {
                width: 140px;
            }
        }
    }
    .footer-ctn {
        .foot-title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 15px;
            font-family: UTM_Helve;
            text-transform: uppercase;
            @media(max-width: 991px) {
                font-size: 18px;
            }
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        .footer-nav {
            font-family: UTM_Helve;
            padding: 0;
            margin: 0;
            @media(max-width: 991px) {
                margin-bottom: 30px;
            }
            li {
                list-style: none;
                position: relative;
                color: #fff;
                font-size: 14px;
                margin-bottom: 5px;
                line-height: 30px;
                @media(max-width: 320px) {
                    font-size: 14px;
                }
                @media(max-width: 991px) {
                    font-size: 16px;
                }
                .img {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 25px;
                    text-align: center;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

// ===========================modal==============================
.modal {
    height: 370px;
    background-color: #0d723b;
    color: #fff;
    // overflow-y: auto;
    a {
        color: #f36f21;
        float: right;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
        &::after {
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../images/default/line.png');
        }
    }
    a.close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 23px;
        height: 23px;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/default/close.png');
    }
    #note{
        overflow: auto;
        height: 280px;
        margin: 20px 10px;
        text-align: justify;
    }
    #note::-webkit-scrollbar-track
    {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #c2c3c7;
    }

    #note::-webkit-scrollbar
    {
    width: 5px;
    background-color: #c2c3c7;
    }

    #note::-webkit-scrollbar-thumb
    {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $main-color;
    }
}


// ================================network==============================
#net-address {
    // display: none;
    position: relative;
    // transform: translate(18%, 36%);
    // bottom: 120px;
    z-index: 3;
    width: 100%;
}

.network-ctn {
    // position: absolute;
    background-color: #fff;
    border: 1px solid #f36f21;
    h5 {
        color: $main-color;
        font-family: UTM_HelveBold;
        text-transform: uppercase;
    }
    .address-detail {
        h5 {
            cursor: pointer;
            span {
                img {
                    width: 15px;
                    margin-right: 10px;
                }
            }
            &:after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
        h5.collapsed {
            cursor: pointer;
            &::after {
                font-family: Fontawesome;
                content: '\f0d7';
                float: right;
            }
        }
    }
    .net-item {
        .address-ctn {
            width: 36%;
            margin-bottom: 2%;
            background-color: #e6e7e8;
            padding: 8px 20px;
            border: 1px solid #ccc4;
            border-radius: 20px;
            outline: none;
            select {
                width: 100%;
                border: none;
                border-right: solid 1px;
                outline: none;
                color: #6b6c6e;
                background-color: #e6e7e8;
            }
        }
        hr.line {
            border: 1px solid $main-color;
        }
        .address-list {
            // height: 100px;
            overflow: auto;
            // width: 100%;
            ul {
                list-style: none;
                li.address-item {
                    display: grid;
                    grid-template-columns: 4% 32% 32% 32% ;
                    justify-content: space-between;
                    flex-direction: row;
                    margin-bottom: 5px;
                    border-bottom: 1px dashed #ccc;
                    .no span {
                        color: $main-color;
                        padding-right: 20px;
                    }
                    .order{
                        color: $main-color;
                    }
                    .location{
                        span{
                            margin-right: 5px;
                        }
                    }
                    .phone-contact{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            ul.car-address{
                overflow: auto;
                height: 100px;
            }
            .car-address::-webkit-scrollbar-track
            {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #c2c3c7;
            }
        
            .car-address::-webkit-scrollbar
            {
            width: 5px;
            background-color: #c2c3c7;
            }
        
            .car-address::-webkit-scrollbar-thumb
            {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: $main-color;
            }
        }
    }
}

// ===============================sticky float left ==================================
.contact-floating {
    position: fixed;
    left: 7%;
    top: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
}
// ===============================scrollup=====================================
.scrollup {
    position: fixed;
    right: 20px;
    bottom: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
}
// ============================ellipsis=======================================
.ellipsis {
    overflow: hidden;
    text-align: left;
    height: $height;
    line-height: $lineheight;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: $height;
}
.ellipsis>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content: "";
    float: right;
    position: initial;
    top: -$lineheight;
    left: 100%;
    width: $ellipsiswidth;
    margin-left: -$ellipsiswidth;
    padding-right: 5px;
    text-align: right;
    background: white;
    color: #f36f21;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
}
.thumb-t{
    color: $main-color;
}