$main-color: #0d723b;
$lineheight:20px;
$height: $lineheight * 3;
$ellipsiswidth: 3em !default;
.disable-scroll {
    overflow: hidden;
}

.fix-position {
    position: fixed;
    top: 10px;
    z-index: 999;
}

// ===========================Navbar========================================
.right-sub {
    display: inline-flex;
    .user-action {
        margin: auto;
        a {}
        .sign-inup {}
    }
}


/*
Nav Menu style
==================*/

.navbar-brand {
    padding: 25px 15px;
}

.navbar-brand>img {
    display: block;
    width: 80%;
}

.navbar-callus li a {
    font-size: 12px;
    padding: 10px;
    color: $main-color;
    display: inline-block;
}

.navbar-callus li a i {
    font-size: 14px;
    color: $main-color;
    margin-right: 5px;
}

.navbar-socail li a {
    font-size: 16px;
    padding: 10px;
    color: #aaaaaa;
    display: inline-block;
}

.navbar-socail li a:hover {
    background-color: #3765a3;
    color: #fff;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.fix-position {
    position: fixed;
    top: 10px;
    z-index: 999;
}


/* Top Search
=================================*/

.top-search {
    background-color: #333;
    padding: 10px 0;
    display: none;
}

.top-search input.form-control {
    background-color: transparent;
    border: none;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    color: #fff;
    height: 40px;
    padding: 0 15px;
}

.top-search .input-group-addon {
    background-color: transparent;
    border: none;
    color: #fff;
    padding-left: 0;
    padding-right: 0;
}

.top-search .input-group-addon.close-search {
    cursor: pointer;
}

.main-menu-ctn {
    @media (min-width: 992px) {
        border-bottom: 3px solid $main-color;
    }
}

.block-main-menu {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1024;
    margin-bottom: 2px;
    background-color: white;
    @media (max-width: 991px) {
        display: flex;
        justify-content: space-between;
        .logo-desktop {
            display: none;
        }
    }
    //background-image: linear-gradient( rgba(0, 0, 0, 0.5), transparent);
    .logo-mobile-nav {
        position: relative;
        max-width: 100px;
        z-index: 2;
    }
    @media (min-width: 992px) {
        .navbar {
            height: 80px;
        }
        .logo-desktop {
            transform: translate(10%, 22%);
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            position: relative;
            width: 125px;
            z-index: 2;
        }
    }
    .main-menu {
        display: flex;
        align-items: center;
        .logo-main {
            z-index: 9;
            transform: translate(10%, 33%);
            -webkit-transform: translate(10%, 33%);
            -moz-transform: translate(10%, 33%);
            -ms-transform: translate(10%, 33%);
            -o-transform: translate(10%, 33%);
            img {
                width: 130px;
            }
        }
        .left-nav {
            // margin-right: 10%;
        }
        .right-nav {
            margin-left: 10%;
        }
        ul {
            margin: 0;
            padding: 0;
            right: 0;
            float: right;
            list-style: none;
            // display: flex;
            margin-top: -8px;
            // justify-content: space-between;
            li {
                margin-left: 5px;
                position: relative;
                a {
                    display: block;
                    white-space: nowrap;
                    font-family: HKNova-Regular;
                    text-decoration: none;
                    font-size: 16px;
                    color: #000;
                    transition: all 0.23s;
                }
                &:hover {
                    a {
                        font-family: HKNova-Regular;
                        color: $main-color;
                    }
                }
                ul.menu-hover {
                    visibility: hidden;
                    display: inline-block;
                    z-index: 12;
                    text-align: left;
                    width: auto;
                    position: absolute;
                    top: 84px;
                    left: -143px;
                    background: rgba(0, 0, 0, 0.5);
                    padding: 0;
                    @media (max-width: 991px) {
                        left: 0;
                        top: 45px;
                    }
                    li {
                        padding: 10px 0;
                        margin: 0;
                        padding: 10px 35px;
                        @media (max-width: 991px) {
                            padding: 10px 5px;
                        }
                        a {
                            color: #fff !important;
                            text-transform: none;
                        }
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.7);
                            a {
                                color: $main-color !important;
                            }
                        }
                    }
                }
                &:hover>ul.menu-hover {
                    visibility: visible;
                }
            }
            .active {
                a {
                    font-family: HKNova-Regular;
                    color: $main-color !important;
                }
            }
        }
    }
}

// CSS overlay
.open-sidemenu {
    cursor: pointer;
    float: right;
    display: none;
    top: 0;
    margin: auto 20px;
    .icon-bar {
        width: 35px;
        height: 3px;
        background-color: #000;
        margin: 5px 0;
    }
}

.block-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 0.2s;
}

.over {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1025;
    transition: all 0.2s;
}

@media (max-width: 991px) {
    .open-sidemenu {
        display: block;
    }
    .no-scroll {
        overflow: hidden;
    }
    #sidenav {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 240px;
        display: block;
        overflow-y: auto;
        background: white;
        background-position: center 10px;
        background-repeat: no-repeat;
        background-size: 100% auto;
        z-index: 1030;
        transform: translateX(-100%);
        transition: all 0.25s;
        #logo-mobile {
            margin-left: 10px;
            img {
                // max-height: 40px;
            }
        }
        .logo {
            position: static;
            transform: translate(0);
            @media (max-height: 480px) {
                display: none;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: block;
            width: 100%;
            li {
                position: relative;
                margin-left: 0;
                a {
                    display: block;
                    white-space: initial;
                    padding: 7px 10px;
                    text-decoration: none;
                    color: #000;
                    //font-family: Helvetica_Light;
                    transition: all 0.25s;
                    color: #000;
                    text-align: left;
                    &:hover {
                        //color: red;
                        transition: all 0.25s;
                    }
                }
                span {
                    display: none;
                }
                svg {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 10px;
                    height: 33px;
                    cursor: pointer;
                    z-index: 1040;
                    transition: all 0.25s;
                    path {
                        fill: #000;
                    }
                }
                .rotate {
                    transform: rotate(180deg);
                    transition: all 0.25s;
                }
                .sub-menu {
                    width: 100%;
                    font-size: 14px;
                    padding-left: 10px;
                    display: none;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    li {
                        a {
                            box-shadow: none;
                            font-size: 13px;
                        }
                    }
                    ul {
                        display: none;
                        overflow: hidden;
                        transition: max-height 0.2s ease-out;
                        padding-left: 10px;
                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
                &:first-child {
                    a {
                        box-shadow: none;
                    }
                }
                &:hover {
                    span {
                        display: none !important;
                    }
                }
            }
            .active {
                a {
                    //font-family: Helvetica_Bold;
                }
            }
        }
    }
    .menu-mobile {
        transform: translateX(0) !important;
        transition: all 0.25s;
        i.fa.fa-angle-down.accodition {
            position: absolute;
            right: 0;
            width: 30px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            top: 0;
        }
    }
}

//=============================swipper arrow==================================
.swiper-button-prev {
    transform: translate(-48%, -5%);
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../images/home/arrow-left-active.png') !important;
    background-size: contain;
    width: 40px;
    height: 40px;
    left: -3%;
    background-repeat: no-repeat;
    -webkit-transform: translate(-48%, -5%);
    -moz-transform: translate(-48%, -5%);
    -ms-transform: translate(-48%, -5%);
    -o-transform: translate(-48%, -5%);
}

.swiper-button-next {
    background-image: url('../images/home/arrow-right-active.png') !important;
    background-size: contain;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    transform: translate(48%, 5%);
    top: 0;
    bottom: 0;
    right: -3%;
    margin: auto;
    -webkit-transform: translate(48%, 5%);
    -moz-transform: translate(48%, 5%);
    -ms-transform: translate(48%, 5%);
    -o-transform: translate(48%, 5%);
}

// ============================ellipsis=======================================
.ellipsis {
    overflow: hidden;
    text-align: center;
    height: $height;
    line-height: $lineheight;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.ellipsis:before {
    content: "";
    float: left;
    width: 5px;
    height: $height;
}

.ellipsis>*:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.ellipsis:after {
    content: "";
    float: right;
    position: initial;
    top: -$lineheight;
    left: 100%;
    width: $ellipsiswidth;
    margin-left: -$ellipsiswidth;
    padding-right: 5px;
    text-align: right;
    background: white;
    color: #f36f21;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
}

footer {
    background-color: $main-color;
    padding: 0;
    .logo_ft {
        display: block;
        margin-bottom: 50px;
        @media(max-width: 991px) {
            margin-top: 0;
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            @media(max-width: 991px) {
                width: 140px;
            }
        }
    }
    .footer-ctn {
        .foot-title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 15px;
            font-family: HKNova-Regular;
            text-transform: uppercase;
            h5 {
                color: white;
            }
            @media(max-width: 991px) {
                font-size: 18px;
            }
            @media(max-width: 480px) {
                font-size: 14px;
            }
        }
        .second-part-title {
            h5 {
                font-size: 28px;
            }
        }
        .footer-nav {
            font-family: HKNova-Regular;
            padding: 0;
            margin: 0;
            @media(max-width: 991px) {
                margin-bottom: 30px;
            }
            li {
                list-style: none;
                position: relative;
                color: #fff;
                font-size: 14px;
                margin-bottom: 5px;
                line-height: 30px;
                @media(max-width: 320px) {
                    font-size: 14px;
                }
                @media(max-width: 991px) {
                    font-size: 16px;
                }
                .img {
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 25px;
                    text-align: center;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        ul.ft-social {
            display: flex;
            li {
                padding-right: 10px;
                img {
                    -webkit-box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.41);
                    -moz-box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.41);
                    box-shadow: inset 0px 2px 5px 2px rgba(0, 0, 0, 0.41);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
        }
        .footer-text-right {
            .foot-slogan {
                display: flex;
                justify-content: space-between;
                color: white;
                .slogan {
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
            .footer-content {
                .app-download {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

//  custom pagination swiper 
.swiper-pagination {
    .swiper-pagination-bullet {
        opacity: 1;
        background-color: white;
        opacity: 0.51;
    }
    .swiper-pagination-bullet-active {
        background-color: $main-color;
    }
}

// ===========================modal==============================
.modal {
    height: 370px;
    background-color: #0d723b;
    color: #fff;
    // overflow-y: auto;
    a {
        color: #f36f21;
        float: right;
        font-family: HKNova-Regular;
        text-transform: uppercase;
        &::after {
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('../images/default/line.png');
        }
    }
    a.close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
        width: 23px;
        height: 23px;
        text-indent: -9999px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/default/close.png');
    }
    #note {
        overflow: auto;
        height: 280px;
        margin: 20px 10px;
        text-align: justify;
    }
    #note::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #c2c3c7;
    }
    #note::-webkit-scrollbar {
        width: 5px;
        background-color: #c2c3c7;
    }
    #note::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: $main-color;
    }
}

// ===============================sticky float left ==================================
.contact-floating {
    position: fixed;
    left: 7%;
    top: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
    img {
        width: 70%;
        border-radius: 50%;
        background-color: white;
        margin-bottom: 10px;
        border: 1px solid $main-color;
    }
}

.download-floating {
    position: fixed;
    right: 0;
    top: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
    .down-title {
        background-color: $main-color;
        font-family: HKNova-Regular;
        font-size: 16px;
        height: 70px;
        margin: auto;
        text-align: center;
        a {
            top: 0;
            bottom: 0;
            margin: auto;
            color: white;
        }
    }
}

// =================================breadcum===================================
.breadcum-ctn {
    background-image: linear-gradient(to right, rgba(10, 111, 27, 0.5), rgba(0, 0, 0, 0));
    top: 24%;
    left: 12%;
    padding: 0 5%;
    width: fit-content;
    position: absolute;
    z-index: 1;
    ol {
        margin: 0;
        padding: 3px 0
    }
    .cd-breadcrumb::after,
    .cd-multi-steps::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-breadcrumb li,
    .cd-multi-steps li {
        display: inline-block;
        float: left;
        margin: 0.5em 0;
    }
    .cd-breadcrumb li::after,
    .cd-multi-steps li::after {
        /* this is the separator between items */
        display: inline-block;
        content: '\00bb';
        margin: 0 .6em;
        color: #fff;
    }
    .cd-breadcrumb li:last-of-type::after,
    .cd-multi-steps li:last-of-type::after {
        /* hide separator after the last item */
        display: none;
    }
    .cd-breadcrumb.custom-separator li::after,
    .cd-multi-steps.custom-separator li::after {
        /* replace the default separator with a custom icon */
        content: '';
        height: 16px;
        width: 16px;
        background: url(../images/default/cd-custom-separator.svg) no-repeat center center;
        vertical-align: middle;
    }
    .cd-breadcrumb li>*,
    .cd-multi-steps li>* {
        /* single step */
        display: inline-block;
        font-size: 1rem;
        color: #fff;
    }
    .cd-breadcrumb li.current>*,
    .cd-multi-steps li.current>* {
        /* selected step */
        color: $main-color;
    }
    .no-touch .cd-breadcrumb a:hover,
    .no-touch .cd-multi-steps a:hover {
        /* steps already visited */
        color: $main-color;
    }
}

// =================================favorite heart=============================
.fa-heart-o {
    color: red;
    cursor: pointer;
    font-size: 20px;
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}

.fa-heart {
    color: red;
    cursor: pointer;
    font-size: 20px;
    padding-right: 15px;
    padding-top: 15px;
    float: right;
}

//==============================rating star=================================
.rate-star {
    #half-stars {
        /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
        .rating-group {
            display: inline-flex;
        }
        /* make hover effect work properly in IE */
        .rating__icon {
            pointer-events: none;
        }
        /* hide radio inputs */
        .rating__input {
            position: absolute !important;
            left: -9999px !important;
        }
        /* set icon padding and size */
        .rating__label {
            cursor: pointer;
            /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
            padding: 0 0.1em;
            font-size: 1.3rem;
        }
        /* add padding and positioning to half star labels */
        .rating__label--half {
            padding-right: 0;
            margin-right: -0.6em;
            z-index: 2;
        }
        /* set default star color */
        .rating__icon--star {
            color: orange;
        }
        /* set color of none icon when unchecked */
        .rating__icon--none {
            color: #eee;
        }
        /* if none icon is checked, make it red */
        .rating__input--none:checked+.rating__label .rating__icon--none {
            color: red;
        }
        /* if any input is checked, make its following siblings grey */
        .rating__input:checked~.rating__label .rating__icon--star {
            color: #ddd;
        }
        /* make all stars orange on rating group hover */
        .rating-group:hover .rating__label .rating__icon--star,
        .rating-group:hover .rating__label--half .rating__icon--star {
            color: orange;
        }
        /* make hovered input's following siblings grey on hover */
        .rating__input:hover~.rating__label .rating__icon--star,
        .rating__input:hover~.rating__label--half .rating__icon--star {
            color: #ddd;
        }
        /* make none icon grey on rating group hover */
        .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
            color: #eee;
        }
        /* make none icon red on hover */
        .rating__input--none:hover+.rating__label .rating__icon--none {
            color: red;
        }
    }
}

// ===============================scrollup=====================================
.scrollup {
    position: fixed;
    right: 20px;
    bottom: 125px;
    display: none;
    z-index: 1024;
    cursor: pointer;
}